.content
    h1.content__title Метод изучения рынка

    span.content__lid Фокусировка регулярно тормозит целевой сегмент рынка. Исправлению подверглись лишь явные орфографические и пунктуационные погрешности, например, пауза вызывает первоначальный хорал. Однако, при увеличении выборки текстура индуктивно.

    h2 Конвергентный фактор коммуникации <br> изучения рынка
    h3 Конвергентный фактор коммуникации
    h4 Конвергентный фактор коммуникации
    h5 Конвергентный фактор коммуникации

    p Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Пластмасса, в отличие от классического случая, отталкивает межядерный радиант. Действительно, скалярное поле однократно. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент.
    p Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Пластмасса, в отличие от классического случая, отталкивает межядерный радиант. Действительно, скалярное поле однократно. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. Сущность и концепция маркетинговой программы развивает громкостнoй прогрессийный период, размещаясь во всех медиа. Стоит отметить, что непрерывная функция искажает интеграл от функции, имеющий конечный разрыв.

    ol.list.list--marker
        li Элемент 1. Фокусировка регулярно тормозит целевой сегмент рынка. Инерция ротора, как правило, выводит спиральный абстракционизм;
            ol.list.list--marker.list--nested
                li Элемент 2. Фокусировка регулярно тормозит целевой сегмент рынка;
                    ol.list.list--marker.list--nested
                        li Элемент 3. Фокусировка регулярно тормозит целевой сегмент рынка;

    ol.list.list--number
        li Элемент 1. Фокусировка регулярно тормозит целевой сегмент рынка;
            ol.list.list--number.list--nested
                li Элемент 2. Фокусировка регулярно тормозит целевой сегмент рынка;
                li Элемент 3. Фокусировка регулярно тормозит целевой сегмент рынка;

    .quote
        .quote__content
            span.quote-text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
            .quote-author__holder
                span.author__name Фамилия Имя Отчество
                span.author__position Председатель комитета

    .quote
        .quote__img
            img(src="../images/png/quote-photo_01.png", alt="quote image #1")
        .quote__content
            span.quote-text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
            .quote-author__holder
                span.author__name Фамилия Имя Отчество
                span.author__position Председатель комитета

    .graph
        .graph__title
            span.title Огибающая семейства поверхностей, 
            span.subtitle млрд рублей
        .graph__svg
            include ../images/svg/graph.svg


    .table__holder
        include /table.pug

    .accordion__holder
        include ../components/accordion/accordion.pug

    .quote-simple
        .quote-simple__text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
        .quote-simple__img
            img(src="../images/png/stairs.png", alt="stairs")
