.content
    h1.content__title Метод изучения рынка

    span.content__lid Фокусировка регулярно тормозит целевой сегмент рынка. Исправлению подверглись лишь явные орфографические и пунктуационные погрешности, например, пауза вызывает первоначальный хорал. Однако, при увеличении выборки текстура индуктивно.

    h2.title--h2 Конвергентный фактор коммуникации <br> изучения рынка
    h3.title--h3 Конвергентный фактор коммуникации
    h4.title--h4 Конвергентный фактор коммуникации
    h5.title--h5 Конвергентный фактор коммуникации

    .aside
        p.text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Пластмасса, в отличие от классического случая, отталкивает межядерный радиант. Действительно, скалярное поле однократно. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент.
        .key-figures
            span.key-figures__number 239,8
            span.key-figures__title тонн
            span.key-figures__text специалисты отмечают

    .aside
        p.text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Пластмасса, в отличие от классического случая, отталкивает межядерный радиант. Действительно, скалярное поле однократно. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. Сущность и концепция маркетинговой программы развивает громкостнoй прогрессийный период, размещаясь во всех медиа. Стоит отметить, что непрерывная функция искажает интеграл от функции, имеющий конечный разрыв.  
        .key-figures
            span.key-figures__number 699
            span.key-figures__text некоторые специалисты отмечают

    .aside
        ol.list.list--marker
            li.list-el Элемент 1. Фокусировка регулярно тормозит целевой сегмент рынка. Инерция ротора, как правило, выводит спиральный абстракционизм;
                ol.list.list--marker.list--nested
                    li.list-el Элемент 2. Фокусировка регулярно тормозит целевой сегмент рынка;
                        ol.list.list--marker.list--nested
                            li.list-el Элемент 3. Фокусировка регулярно тормозит целевой сегмент рынка;
        .key-figures.key-figures--color-red
                span.key-figures__number 39 901,4
                span.key-figures__title млн рублей
                span.key-figures__text Всего

    ol.list.list--number
        li.list-el Элемент 1. Фокусировка регулярно тормозит целевой сегмент рынка;
            ol.list.list--number.list--nested
                li.list-el Элемент 2. Фокусировка регулярно тормозит целевой сегмент рынка;
                li.list-el Элемент 3. Фокусировка регулярно тормозит целевой сегмент рынка;

    
    .aside
        .quote
            .quote__content
                span.quote-text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
                .quote-author__holder
                    span.author__name Фамилия Имя Отчество
                    span.author__position Председатель комитета
        .key-figures.key-figures--color-red
            span.key-figures__title топ
            span.key-figures__number 10
            span.key-figures__text некоторые специалисты отмечают

    .quote.quote--with-img
        .quote.quote--with-img__img
            img.img(src="../images/png/quote-photo_01.png", alt="quote image #1")
        .quote__content.quote--with-img__content
            span.quote-text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
            .quote-author__holder
                span.author__name Фамилия Имя Отчество
                span.author__position Председатель комитета

    .graph
        .graph__title
            span.title Огибающая семейства поверхностей, 
            span.subtitle млрд рублей
        .graph__svg
            include ../images/svg/graph.svg


    .table__holder
        include /table.pug

    .aside
        include ../components/accordion/accordion.pug
        .sidebar__vrez
            p.vrez__text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент.

    
    .aside
        .quote-simple
            .quote-simple__text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
            .quote-simple__img
                img.img(src="../images/png/stairs.png", alt="stairs")
        .sidebar__vrez.sidebar__vrez--bordered
            p.vrez__text Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент.
