<link rel="stylesheet" href="../fonts/fontello/css/fontello.css" />

div.company
    span &#169; 2020 
        - var url = '#';
        a(href='/' + url) Компания

div.social
    span.social__icon.icon-twitter
    span.social__icon.icon-facebook
    span.social__icon.icon-vkontakte
    span.social__icon.icon-instagram
    span.social__icon.icon-youtube-play
    span.social__icon.icon-flickr
    span.social__icon.icon-odnoklassniki

div.links
    - var url = '#';
    a(href='/' + url) Об отчете
    - var url = '#';
    a(href='/' + url) Дисклеймер
    - var url = '#';
    a(href='/' + url) Приложения
    - var url = '#';
    a(href='/' + url) Глоссарий
    - var url = '#';
    a(href='/' + url) Контакты