div.company
    span &#169; 2020 
        - var url = '#';
        a(href='/' + url) Компания

div.social
    span.icon
        img(inline src="../images/svg/icon-fb-normal.svg" alt="FB")

    <svg viewBox="0 0 15 15">
       <path d="m1.3761 1.3683 12.288 12.288m-12.328-0.024469 12.288-12.288" fill="none" stroke="currentColor" stroke-width="2.3272"></path>
    </svg>
    //- a(href='#')
    //-     img(src='../images/svg/icon-fb-normal.svg')
    //- a(href='#')
    //-     img(src='../images/svg/icon-vk-normal.svg')
    //- a(href='#')
    //-     img(src='../images/svg/icon-inst-normal.svg')
    //- a(href='#')
    //-     img(src='../images/svg/icon-youtube-normal.svg')
    //- a(href='#')
    //-     img(src='../images/svg/icon-flikr-normal.svg')
    //- a(href='#')
    //-     img(src='../images/svg/icon-ok-normal.svg')

div.links
    - var url = '#';
    a(href='/' + url) Об отчете
    - var url = '#';
    a(href='/' + url) Дисклеймер
    - var url = '#';
    a(href='/' + url) Приложения
    - var url = '#';
    a(href='/' + url) Глоссарий
    - var url = '#';
    a(href='/' + url) Контакты