block vars
    - url_company = '#_1'
    - url_aboutTheReport = '#_2'
    - url_disclaimer = '#_3'
    - url_applications = '#_4'
    - url_glossary = '#_5'
    - url_contacts = '#_6'

div.company
    span &#169; 2020 
        a.link(href=`/${url_company}`) Компания

div.social
    span.social__icon.icon-twitter
    span.social__icon.icon-facebook
    span.social__icon.icon-vkontakte
    span.social__icon.icon-instagram
    span.social__icon.icon-youtube-play
    span.social__icon.icon-flickr
    span.social__icon.icon-odnoklassniki

div.links
    a.link(href='/' + url_aboutTheReport) Об отчете
    a.link(href='/' + url_disclaimer) Дисклеймер
    a.link(href='/' + url_applications) Приложения
    a.link(href='/' + url_glossary) Глоссарий
    a.link(href='/' + url_contacts) Контакты