div.header__logo
    img(src="../images/png/logo.png", alt="logo")

div.header__titles
    span.title Годовой отчет 2020
    span.subtitle Корпоративно-социальный отчет 2020

div.header__navbar
    span.navbar(data-id="navbar")