block vars
    - url_mission = '#_1'
    - url_priority = '#_2'
    - url_risks = '#_3'
    - url_projects = '#_4'

.sidebar
    .sidebar__links
        span.links__title Смотрите также:
        a.link(href='/' + url_mission) Миссия и ценности
        a.link(href='/' + url_priority) Приоритетные направления деятельности
        a.link(href='/' + url_risks) Система управления стратегическими рисками
        a.link(href='/' + url_projects) Ключевые проекты 2019 года
