table.table
    caption.table__title
        span.title Огибающая семейства поверхностей, 
        span.subtitle 2018 год
    tr.table__row.table__caption
        th.table__cell.table__cell--align-left Категория
        th.table__cell 2017
        th.table__cell 2018
        th.table__cell &#9650;18/17
    tr.table__row
        td.table__cell.table__cell--align-left Категория I
        td.table__cell 0,2
        td.table__cell 0,2
        td.table__cell 0,4%
    tr.table__row
        td.table__cell.table__cell--align-left Категория II
        td.table__cell 9,9
        td.table__cell 4,4
        td.table__cell –
    tr.table__row.table__row--active
        td.table__cell.table__cell--align-left Категория III
        td.table__cell 208,2
        td.table__cell 209,0
        td.table__cell -55,6%
    tr.table__row
        td.table__cell.table__cell--align-left Категория IV
        td.table__cell 238,8
        td.table__cell 239,8
        td.table__cell 0,4%
    tr.table__row
        td.table__cell.table__cell--align-left Категория V
        td.table__cell 20,5
        td.table__cell 26,2
        td.table__cell 27,7%
    tr.table__row.table__total
        th.table__cell.table__cell--align-left Всего
        th.table__cell 238,8
        th.table__cell 239,8
        th.table__cell 0,4%