.menu {
    display: none;
    margin-top: $header-height;
    padding-top: 76px;
    padding-left: 19.58vw; // 376px;
    padding-right: 19.58vw; // 376px;

    position: fixed;
    overflow-y: scroll;
    height: 100%;
    z-index: 10;
    width: 100%;
    background-color: white;

    &__list {
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
        // Можно ли как-то избежать обозначения фиксированной высоты, чтобы добиться того же результата?
        height: 1200px;

        // Чтобы был искуственный перенос
        &::before,
        &::after {
            content: "";
            flex-basis: 100%;
            width: 0;
            order: 2;
        }

        
        &-sublist {
            padding-top: 20px;
            padding-bottom: 50px;
            &--dippest {
                display: none;
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }
    }

    &__item {
        position: relative;
        // width: 33%;
        max-width: 370px;
        display: block;
        // height: fit-content;

        &:nth-child(3n - 2) { order: 1; } // background-color: green;}
        &:nth-child(3n + 2) { order: 2; } // background-color: hotpink; }
        &:nth-child(3n) { order: 3; } // background-color: brown; }

        &:nth-child(3n - 2),
        &:nth-child(3n + 2) {
            margin-right: 50px;
        }
        
    }

    &__link {
        text-decoration: none;
        color: $midnight;
        margin-bottom: 22px;
        &:hover {
            color: $fire-engine-red;
        }
        &--title {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
        }
        &--subtitle {
            text-decoration: none;
            font-size: 16px;
            font-weight: 100;
            color: $aubergine;
            line-height: 22px;
        }
        &--dippest {
            text-decoration: none;
            color: $aubergine;
            font-size: 14px;
            line-height: 16px;
            margin-left: 20px;
        }
    }

    &__btn {
        position: relative;
        background: none;
        border: none;
        outline: none;
        color: $fire-engine-red;
        &:hover {
            cursor: pointer;
        }
        &--is-open {
            .menu__btn-arrow {
                border: 5px solid transparent;
                border-bottom-color: $fire-engine-red;
            }
        }
        &-arrow {
            display: block;
            border: 5px solid transparent;
            border-top-color: $fire-engine-red;
        }
    }


    @media (max-width: 798px) {
        padding-left: 10px;
        padding-right: 10px;
        &__list {
            height: 1300px;
            // Чтобы был искуственный перенос
            &::before,
            &::after {
                order: 1;
            }
        }
        &__item {
            position: relative;
            max-width: 370px;
            display: block;

            &:nth-child(odd) {
                order: 1;
                margin-right: 20px;
            }
            &:nth-child(even) { order: 2; }
        }
    }

    @media (max-width: 470px) {
        &__list {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: fit-content;
            &::before,
            &::after {
                content: none;
            }
        }
    }
    
    &.is-active,
    .is-active {
        display: block;
    }
}
