.menu {
    margin-top: $header-height;
    padding-top: 76px;
    padding-left: 376px;
    padding-right: 376px;

    &__list {
        // display: flex;
        // flex-flow: column wrap;
        // align-content: space-between;
        // height: 900px;
        // flex-wrap: wrap;
        // justify-content: space-between;

        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // height: 1120px;

        &-element {
            // width: 30%;
            display: block;
            height: fit-content;

            // &:nth-child(3n + 1) { order: 1; background-color: green;}
            // &:nth-child(3n + 2) { order: 2; background-color: hotpink; }
            // &:nth-child(3n)   { order: 3; }
        }
        &-sublist {
            padding-top: 20px;
            padding-bottom: 50px;
            &--dippest {
                padding-top: 10px;
                padding-bottom: 15px;
            }
        }
    }

    .title__main {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: $midnight;
        margin-bottom: 22px;
        &:hover {
            color: $fire-engine-red;
        }
    }

    .subtitle {
        text-decoration: none;
        font-size: 16px;
        font-weight: 100;
        color: $aubergine;
        line-height: 22px;
        &:hover {
            color: $fire-engine-red;
        }

        &--with-content {
            position: relative;
            &::before {
                position: absolute;
                content: '';
                right: -20px;
                bottom: 6px;
                border: 5px solid transparent;
                border-bottom-color: $fire-engine-red;
            }
            &--active {
                &::before {
                    bottom: 3px;
                    border: 5px solid transparent;
                    border-top-color: $fire-engine-red;
                }
            }
        }
    }

    .test {
        text-decoration: none;
        color: $aubergine;
        font-size: 14px;
        line-height: 16px;
        margin-left: 20px;
        &:hover {
            color: $fire-engine-red;
        }
    }
}
