.accordion {
    font-size: 18px;
    line-height: 26px;
    margin-top: 94px;

    &__element {
        &:first-child {
            border-top: 1px solid #616365;
        }

        &-title {
            position: relative;
            cursor: pointer;
            padding: 6px 30px;
            width: 100%;
            box-sizing: border-box;
            border-bottom: 1px solid #616365;
            transition: 0.4s;
            color: #616365;
            font-weight: 300;

            &::after {
                content: "";
                position: absolute;
                right: 30px;
                top: 8px;
                width: 12px;
                height: 12px;
                border: 2px solid transparent;
                border-top-color: black;
                border-left-color: black;
                transform: rotate(-135deg);
                transition: 0.1s;
            }

            &:hover {
                border-bottom: 1px solid #ce1126;
                color: #ce1126;
                &:after {
                    border-top-color: #ce1126;
                    border-left-color: #ce1126;
                }
            }

        &--active {
            font-weight: 500;
            color: #ce1126;
            border-bottom: 2px solid #ce1126;
            &:hover {
                border-bottom: 2px solid #ce1126;
                color: #ce1126;
                &:after {
                    border-top-color: transparent;
                    border-left-color: transparent;
                }
            }
                &:after {
                    content: "";
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    width: 12px;
                    height: 12px;
                    border: 2px solid transparent;
                    border-bottom-color: #ce1126;
                    border-right-color: #ce1126;
                    transform: rotate(-135deg);
                    transition: 0.1s;
                }
            }
        }

        &-content {
            padding: 0 30px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            font-weight: 300;

            &:hover {
                cursor: default;
            }
        }
    }
}