.content {
    max-width: calc(821px + 5vw + 17.08vw); // временно выставлю ширину для настройки 1440 всего целиком
    min-width: 320px - $main-padding * 2;
    // margin: 3.96vw 18.28vw; // 76px 351px;
    padding: 3.96vw 5vw 2.45vw 17.08vw; // 76px 96px 47px 328px;
    box-sizing: border-box;

    &__title {
        color: $blue-whale;
        font-weight: 700;
        margin-top: 3.96vw; // (76px + 90px); // второе число -- это высота header'а
    }

    &__lid {
        display: block;
        color: $fire-engine-red;
        font-style: italic;
        margin-top: 2.29vw; // 44px;
        font-size: 18px;
    }

    h2 {
        text-transform: uppercase;
        color: $fire-engine-red;
        font-size: 24px;
        font-weight: 700;
        margin-top: 33px;
        line-height: 34px;
    }

    h3 {
        margin-top: 28px;
        text-transform: uppercase;
        line-height: 28px;
        font-size: 20px;
        font-weight: 700;
    }

    h4 {
        margin-top: 20px;
        color: $fire-engine-red;
        line-height: 27px;
        font-size: 18px;
        font-weight: 700;
    }

    h5 {
        margin-top: 18px;
        line-height: 22px;
        font-weight: 700;
        font-size: 16px;
    }

    p {
        margin-top: 28px;
        font-weight: 100;
        line-height: 26px;
        margin: 14px 0;
        font-size: 16px;
    }

    @media (max-width: 798px) {
        margin-left: $main-padding;
        margin-right: $main-padding;

        &__title {
            margin-top: calc(3.96vw + 14.68vw); // (76px + 90px); // второе число -- это высота header'а
        }
    }
}