.footer {
    // flex: 0 0 auto;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid $black;
    padding: 1.04vw 12.5vw; // 20px 240px;
    div {
        display: inline-block;
    }
    a {
        color: $grey;
        text-decoration: none;
        svg {
            fill: $fire-engine-red;
        }
    }
    a:not(:first-child) {
        margin-left: 1.51vw; // 29px;
    }
    a:hover {
        color: $fire-engine-red;
    }
    .company a {
        text-decoration: underline;
    }
    .icon {
        width: 1.56vw; // 30px;
        height: 1.56vw; // 30px;
        box-sizing: border-box;
        color: $grey;
        border: 1px solid $grey;
        border-radius: 50%;
    }
    .icon:not(:first-child) {
        margin-left: 0.99vw; // 19px;
    }
    .icon:hover {
        border-color: $fire-engine-red;
        color: $fire-engine-red;
        cursor: pointer;
    }
}