.header {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $black;
    padding: 1.56vw 19.58vw; // 30px 376px;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    z-index: 10;
    width: 100%;

    &__logo {
        display: inline-block;
        img {
            width: 100%;
        }
    }

    &__titles {
        display: flex;
        justify-content: center;
        align-items: center;
        .title {
            position: relative;
            font-family: Jost-bold;
            border-right: 2px solid $black;
            padding-right: 10px;
        }
        .subtitle {
            margin-left: 10px;
        }
    }

    &__navbar {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        .navbar {
            position: relative;
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 50px;
            background-color: $black;
            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                top: 4.5px;
                left: 0;
                background-color: $black;
                border-radius: 50px;
            }
            &::after {
                top: -5px;
            }
        }
    }

    @media (max-width: 798px) {
        padding: 3.13vw; // 10px 0;
        justify-content: space-evenly;
        &__logo {
            width: 15vw; // 48px;
            display: flex;
            align-items: center;
        }
        &__titles {
            // justify-content: space-around;
            flex-direction: column;
            .title {
                border: none;
                padding: 0;
            }
            .subtitle {
                margin: 0;
                font-size: 3.13vw; // 10px;
            }
        }
    }
}