.sidebar {
    min-width: 150px;
    max-width: 300px;
    border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
    height: 100%;
    &__vrez {
        position: absolute;
        top: 0;
        left: calc(100% + 5vw + 29px); // вторая цифра - правый padding контента; 3-я -- внутренний отступ sidebar'а
        width: 14.06vw; // 270px;
        color: $fire-engine-red;
        font-size: 14px;
        .vrez__text {
            line-height: 17px;
            margin: 0;
        }
    
        &--bordered {
            border-top: 1px solid $fire-engine-red;
            border-bottom: 1px solid $fire-engine-red;
            .vrez__text {
                margin: 10px 0;
            }
        }
    }

    &__key-figures {
        position: absolute;
        top: 0;
        left: calc(100% + 5vw + 29px); // вторая цифра - правый padding контента; 3-я -- внутренний отступ sidebar'а
        display: flex;
        flex-direction: column;
        color: $blue-whale;
        width: 15.63vw; // 300px;
        &-number {
            font-weight: 700;
            font-size: 46px;
            line-height: 57px;
        }
        &-content {
            display: flex;
            flex-direction: column;
        }
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }
        &-text {
            font-weight: 300;
            font-size: 18px;
            line-height: 20px;
        }
        &--color-red {
            color: $fire-engine-red;
        }
    }

    @media (max-width: 798px) {
        display: none;

        &__vrez,
        &__key-figures {
            position: inherit;
            width: 100%;
            left: 0;
            margin-top: 10px;
        }

        &__key-figures {
            // display: block;
            flex-direction: row;
            &-number {
                order: 1;
                // display: inline-block;
                width: fit-content
            }
            &-title {
                order: 2;
                // display: inline-block;
                width: fit-content
            }
            &-text {
                order: 3;
                // display: inline-block;
                width: fit-content
            }
        }
    }
}