body {
	color: $midnight;
	font-family: 'Jost-regular', sans-serif;
}

h1 {
	@include rem(font-size, 48px);
	line-height: 1.1;
	font-weight: 400;
	color: $spray;
	font-family: 'Jost-regular', sans-serif;
}

h2 {
	@include rem(font-size, 28px);
	line-height: 1.1;
	font-weight: 400;
	color: $midnight;
	font-family: 'Jost-regular', sans-serif;
}

h3 {
	@include rem(font-size, 24px);
	@include rem(margin-bottom, 10px);
	line-height: 1.1;
	font-weight: 400;
	color: $grey;
	font-family: 'Jost-regular', sans-serif;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?81289390');
	src: url('../fonts/fontello.eot?81289390#iefix') format('embedded-opentype'),
		 url('../fonts/fontello.woff2?81289390') format('woff2'),
		 url('../fonts/fontello.woff?81289390') format('woff'),
		 url('../fonts/fontello.ttf?81289390') format('truetype'),
		 url('../fonts/fontello.svg?81289390#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}