body {
	color: $midnight;
	font-family: 'Jost-regular', sans-serif;
}

h1 {
	@include rem(font-size, 48px);
	line-height: 1.1;
	font-weight: 400;
	color: $spray;
	font-family: 'Jost-regular', sans-serif;
}

h2 {
	@include rem(font-size, 28px);
	line-height: 1.1;
	font-weight: 400;
	color: $midnight;
	font-family: 'Jost-regular', sans-serif;
}

h3 {
	@include rem(font-size, 24px);
	@include rem(margin-bottom, 10px);
	line-height: 1.1;
	font-weight: 400;
	color: $grey;
	font-family: 'Jost-regular', sans-serif;
}
