.accordion
    .accordion__element
      .accordion__element-title
        span Диверсификация
      .accordion__element-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui beatae officiis eum amet, quos,
    .accordion__element
      .accordion__element-title
        span Оптимизация
      .accordion__element-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui beatae officiis eum amet, quos,
    .accordion__element
      .accordion__element-title
        span Стандартизация
      .accordion__element-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui beatae officiis eum amet, quos,
    .accordion__element
      .accordion__element-title
        span Развитие рынка
      .accordion__element-content
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil qui beatae officiis eum amet, quos,
    .accordion__element
      .accordion__element-title
        span Интеграция
      .accordion__element-content
        p Гирогоризонт, безусловно, заставляет иначе взглянуть на то, что такое объект права. Инерция ротора, как правило, выводит спиральный абстракционизм. Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.
        p Сомнение экспортирует импульс. Конечно, возмущение плотности модифицирует уходящий коносамент. В соответствии с законами сохранения энергии, иольдиевая глина доступна.