block vars
	- state = image ? true : false

.appeal.appeal--final
	.appeal__photo
		if image
			img(src="images/svg/landscape_layout_3x_sans_serif.svg")

	.appeal__content
		.appeal__title
			h1
				| Lorem ipsum dolor sit amet.
		.appeal__text
			p
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore assumenda ea officiis eveniet, dolor nesciunt ratione commodi blanditiis nulla.
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore assumenda ea officiis eveniet, dolor nesciunt ratione commodi blanditiis nulla.

			p
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dolore assumenda ea officiis eveniet, dolor nesciunt ratione commodi blanditiis nulla.
